{% extends "base.html" %}
{% block body %}
<section id="content">
    <div class="content-wrapper">
        <div class="content-fluid">
            {% for entry in entries %}
                <div class="row">
                    <div class="col-md-4">
                        <center>
                        <a href="/{{ entry.id }}">
                            <img src="/static/img/{{ entry.img_path }}" class="img-responsive" alt="{{entry.alt}}" width="190">
                        </a>
                        </center>
                    </div>
                    <div class="col-md-6">
                        <h4>
                            <a href="/{{entry.id}}">{{ entry.title }}</a>
                        </h4>
                        <ul>
                            <li>Процессор:{{ entry.cpu }}</li>
                            <li>Частота процессора:{{ entry.cpu_freq }}</li>
                            <li>Объем оперативной памяти:{{ entry.ram }}</li>
                            <li>Объем жёсткого диска:{{ entry.hdd }}</li>
                            <li>Размер экрана:{{ entry.display }}</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h4>{{ entry.price }}</h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}