{% extends "base.html" %}
{% block body %}
<body>
<section id="content">
    <div class="content-wrapper">
        <div class="content-fluid">
            {% for entry in entries %}
                <div class="row">
                    <div class="col-md-4">
                        <a href="/{{ entry.id }}">
                            <img src="{{ image }}">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Процессор:{{ entry.cpu }}</li>
                            <li>Частота процессора:{{ entry.cpu_freq }}</li>
                            <li>Объем оперативной памяти:{{ entry.ram }}</li>
                            <li>Объем жёсткого диска:{{ entry.hdd }}</li>
                            <li>Размер экрана:{{ entry.display }}</li>
                        </ul>
                    </div>
                    <div class="col-md-2">
                        <h3>{{ entry.price }}</h3>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
</body>